*{
    font-family: 'Kumbh Sans', sans-serif;
}

.nav-link:hover{
    color: hsl(220, 13%, 13%);
    border-bottom: 4px solid hsl(26, 100%, 55%);
}

.navbar{
    border-bottom: 1px solid hsl(220, 14%, 75%);
    padding: 0;
}

.main-img{
    max-width: 400px;
    border-radius: 5%;
}

.text-title{
    color: hsl(26, 100%, 55%);
    font-weight: 700;
}

.orange{
    color: hsl(26, 100%, 55%);
}

.white{
    color: hsl(0, 0%, 100%);
}

.bg-orange{
    background-color: hsl(25, 100%, 94%);
}

.dGrayBlue{
    color: hsl(219, 9%, 45%);
}

.bg-gBlue{
    background-color: hsl(223, 64%, 98%);
}

.thumb{
    width: 80px;
}

p{
    margin-bottom: 0;
}

.btn-warning{
    background-color: hsl(26, 100%, 55%);
}

.avatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
}
